@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}

.note {
    background: lightyellow;
    color: red;
    height: 40px;
    padding: 9px;
    border-radius: 6px;
    border-color: pink;
    border-width: 1px;
    border-style: solid;
}
